<!-- Header Content Area -->
<header class="header" [class.scrolled]="scrolled" role="banner" aria-label="Site Header">
  <div class="container header-content">
    <div class="logo">
      <span class="logo-text">RK Development Studio</span>
    </div>
    <nav class="nav-links" role="navigation" aria-label="Primary Navigation" [class.active]="menuOpen">
      <a routerLink="home" aria-label="Home Page" routerLinkActive="active" (click)="closeMenu()">Home</a>
      <a routerLink="resume" aria-label="Resume Page" routerLinkActive="active" (click)="closeMenu()">Resume</a>
      <a routerLink="projects" aria-label="Projects Page" routerLinkActive="active" (click)="closeMenu()">Projects</a>
      <a routerLink="blog" aria-label="Blog Page" routerLinkActive="active" (click)="closeMenu()">Blog</a>
      <a routerLink="services" aria-label="Services Page" routerLinkActive="active" (click)="closeMenu()">Services</a>
      <a routerLink="about" aria-label="About Page" routerLinkActive="active" (click)="closeMenu()">About</a>
      <a routerLink="contact" aria-label="Contact Page" routerLinkActive="active" (click)="closeMenu()">Contact</a>
    </nav>
    
    <!-- Hamburger Icon -->
    <div class="hamburger" (click)="toggleMenu()" [class.active]="menuOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>

<!-- Main Content Area-->
<main class="main-conent">
  <router-outlet></router-outlet>
</main>

<!-- Footer Content Area-->
<footer class="footer" role="contentinfo" aria-label="Site Footer">
  <div class="container footer-content">
    <p>&copy; 2025 RK Development Studio. All Rights Reserved.</p>
    <p>Designed & Developed by Robert King.</p>
  </div>
</footer>