/* General Styles */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

/* Section Titles */
.section-title {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--primary);
}

.section-subtitle {
  text-align: center;
  color: var(--secondary);
  font-size: 1.4rem;
  margin-bottom: 40px;
}

/* Blog Grid */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

/* Blog Card */
.blog-card {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  height: 100%;
  padding: 25px;
  overflow: hidden;
  border-radius: 12px;
  border: 3px solid var(--primary);
  box-shadow: 4px 4px 8px var(--secondary);
  text-align: center;
  transition: transform 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.blog-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.blog-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: var(--primary);
}

.blog-author {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--secondary);
}

.blog-snippet {
  font-size: 1.1rem;
  text-align: left;
  word-spacing: 2px;
  line-height: 1.2em;
  text-indent: 10px;
  color: var(--white);
  margin-bottom: 15px;
}

.cta-buttons {
  margin-top: auto;
  padding-top: 10px;
}

.blog-link { 
  color: #007acc;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.95rem;
  transition: color 0.3s;
}

.blog-link:hover {
  color: #005f99;
}