<!-- Banner -->
<section class="intro" aria-label="Banner">
  <video src="assets/videos/smoke.mp4" autoplay muted loop></video>
  <img src="assets/images/rkdevlogo2.jpg" alt="logo" class="intro-logo">
  <h1 class="intro-header">
    <span>R</span>
    <span>K</span>
    <span>&nbsp;</span>
    <span>D</span>
    <span>e</span>
    <span>v</span>
    <span>e</span>
    <span>l</span>
    <span>o</span>
    <span>p</span>
    <span>m</span>
    <span>e</span>
    <span>n</span>
    <span>t</span>
    <span>&nbsp;</span>
    <span>S</span>
    <span>t</span>
    <span>u</span>
    <span>d</span>
    <span>i</span>
    <span>o</span>
  </h1>
</section>
<!-- Hero Section -->
<section id="hero" class="hero-section" role="region" aria-label="Hero Section">
  <div class="container hero-content">
    <h1>Robert King</h1>
    <h2>Full-Stack Developer</h2>
    <p>Hand-Crafting Secure, Scalable, and User-Centric Web Solutions for Modern Businesses.</p>
    <div class="cta-buttons">
      <a routerLink="/projects" aria-label="Projects Button" style="--clr:#0072ff"><span>Projects</span><i></i></a>
      <a routerLink="/contact" aria-label="Contact Button" style="--clr:#0072ff"><span>Contact</span><i></i></a>
    </div>
  </div>
</section>
<!-- Services Preview Section -->
<section class="services-preview services-container" role="region" aria-label="Services Section">
  <div class="container">
  <h2 class="services-h2">Services</h2>
    <!-- Service Cards -->
    <div class="card-container">
      <article class="card-article" aria-label="Services Card">
        <img src="assets/images/webdevelopmentblue.png" alt="logo" class="card-img">
        <div class="card-data">
          <h2 class="card-title">Custom Web Development</h2>
          <span class="card-description">Tailored websites using Angular, React, and modern stacks.</span>
        </div>
      </article>
      <article class="card-article" aria-label="Services Card">
        <img src="assets/images/uxuiblue.png" alt="logo" class="card-img">
        <div class="card-data">
          <h2 class="card-title">UI/UX Design</h2>
          <span class="card-description">Clean, responsive and intuitive interfaces for all devices.</span>
        </div>
      </article>
      <article class="card-article" aria-label="Services Card">
        <img src="assets/images/seoblue.png" alt="logo" class="card-img">
        <div class="card-data">
          <h2 class="card-title">Performance and SEO Optimization</h2>
          <span class="card-description">Optimized code and metadata to boost speed and discovery.</span>
        </div>
      </article>
    </div>
    <div class="cta-buttons cta-services-button" aria-label="See Full Services Button">
      <a routerLink="/services" style="--clr:#0072ff"><span>See Full Services</span><i></i></a>
    </div>
  </div>
</section>